{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}

  <div class="row divider green">
    <div class="col-md-12"></div>
  </div>
  <div class="row banner">
    <div class="col-md-11 col-md-offset-1 padding-none">
      <h1>{{ states.name }}</h1>
    </div>
  </div>
  <div class="row padding-top padding-bottom">
    <div class="col-md-1"></div>
    <div class="col-md-11 padding-none">

    </div>
    <div class="col-md-7"></div>
  </div>
  {% if parks !=[] %}
<div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-3">
      <h2>National Parks</h2>
        {% for park in parks %}
          {% if park.park_type == 'National' %}
            <div class="park-items">
              <a src="#">{{park.name}}</a>
              <p>{{park.description}}</p>
            </div>
              {% endif %}
          {% endfor %}
    </div>
    <div class="col-md-4">
      <h2>State Parks</h2>
          {% for park in parks %}
            {% if park.park_type == 'State' %}
              <div class="park-items">
                <a src="#">{{park.name}}</a>
                <p>{{park.description}}</p>
              </div>
              {% endif %}
          {% endfor %}
    </div>
    <div class="col-md-4">
        <h2>County Parks</h2>
          {% for park in parks %}
            {% if park.park_type == 'County' %}
              <div class="park-items">
                <a src="#">{{park.name}}</a>
                <p>{{park.description}}</p>
              </div>
              {% endif %}
          {% endfor %}
      </div>
      <div class="col-md-4">
        <h2>Town Parks</h2>
          {% for park in parks %}
            {% if park.park_type == 'Town' %}
              <div class="park-items">
                <a src="#">{{park.name}}</a>
                <p>{{park.description}}</p>
              </div>
              {% endif %}
          {% endfor %}
      </div>
      <div class="col-md-4">
        <h2>Dog Parks</h2>
          {% for park in parks %}
            {% if park.park_type == 'Dog' %}
              <div class="park-items">
                <a src="#">{{park.name}}</a>
                <p>{{park.description}}</p>
              </div>
              {% endif %}
          {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}